.container {
    width: 750px;
    margin: 0 auto;
}
.main_content, aside {
    height: 400px;
}
.main_content {
    float: left;
    width: 80%;
    background: gold;
}
aside {
    float: left;
    width: 20%;
    background: azure;
}
header{
    background: chocolate;
}
footer{
    background: blanchedalmond;
    clear: both;
}